
<div style="margin: auto; max-width: 1400px;">
  <!-- <div>side bar</div> -->
  <div style="display: grid; grid-template-columns: 20rem auto;">
    <div style="margin-top: 2rem;">
      <div style="display: grid; grid-template-columns: auto auto auto auto auto auto auto;">
        @for ( day of mounth ; track $index){
          <div  class="day-item">{{day}}</div>
        }
      </div>
    </div>
    <div class="booking-container" style="width: 100%;">
      <h2>Book an Event</h2>
      <div class="booking-content">
        <div style="margin-top: 22px;">
          @for(time of times ; track time){
            <div style="text-align: end; padding-right: 10px; margin-top: 10px;" key="time">{{time}}</div>
          }
        </div>
        <div>
          <div class="booking-weekDays" >
            @for( item of weekDays ; track item.text){

               <div style="display: grid; justify-content: center;" key="item.text + item.date">
                 <div >{{item.text}}</div>
                 <div style="display: flex; justify-content: center;" >{{item.date}}</div>
   
               </div>
            }
          </div>
          <div class="booking-row">
            @for ( day of damyData() ; track  $index ; let i = $index){
              <div class="booking-column" >
                @for ( time of day ; track time.value ; let j = $index){
                  <div (mousemove)="handleMouseMove($event)" (mousedown) ="hnadleMouseDown($event)" (mouseup) = "handleMouseUp($event)" [id]="i+'-'+j"  [ngClass]="time.selected ? 'row-item-selected' : 'row-item'">
                    @if (time.selected){
                      {{time.value}}
                    }
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>
      @if (showDialog){
        <div class="dialog-overlay">
          <div class="dialog-box">
            <div class="dialog-header">
              <h2>Dialog Header</h2>
              <button (click)="closeDialog()" class="close-button">&times;</button>
            </div>
            <div class="dialog-body">
              <p>This is a custom dialog box.</p>
            </div>
            <div class="dialog-footer">
              <button (click)="closeDialog()" class="close-button">Save</button>
            </div>
          </div>
        </div>
      }
         </div>
  </div>
</div>
