.booking-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.booking-row {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  border: 1px solid #e2e2e2;
}
.booking-weekDays {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /* border: 1px solid #e2e2e2; */
}
.booking-column {
  display: grid;
}
.row-item {
  border: 1px solid #e2e2e2;
  height: 30px;
}
.row-item-selected {
  background-color: #039be5;
  border: 1px solid #039be5;
  height: 30px;
  color: #fff;
}

.booking-content {
  display: grid;
  grid-template-columns: 4rem auto;
}
/* .form-group {
    margin-bottom: 20px;
  }
  
  .form-group mat-form-field {
    width: 100%;
  }
  
  .mat-form-field {
    width: 100%;
  } */

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
  } */

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog-box {
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.dialog-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(228, 228, 228, 0.874);
  padding: 3px;
}

.close-button {
  font-size: 1.2em;
  width: fit-content;
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  background-color: rgba(228, 228, 228, 0.874);
  /* background-color: #fff; */
  color: gray;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.close-button:hover {
  background-color: rgba(220, 220, 220, 0.737);
}

.dialog-body {
  margin: 20px 0;
}

.dialog-footer {
  text-align: right;
}

.day-item {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 12px;
  
}

.day-item:hover {
  background-color: rgba(231, 231, 231, 0.83);
}
.day-item-today {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 12px;
  background-color: #007bff;
  color:#FFF;
}
.day-item-today:hover {
  background-color: #0253a9;
}

.mounth-changer-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  color: gray;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.mounth-changer-button:hover {
  background-color: rgba(220, 220, 220, 0.737);
}

.header-week-number {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 15px;
  align-items: center;
}
.header-week-number:hover{
  background-color: rgb(213, 213, 213);
}
.header-week-number-today{
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 15px;
  align-items: center;
  color: #FFF;
  background-color: #007bff;
}
.header-week-number-today:hover {
  background-color: #0253a9;
}